/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --primary-color: #bb2d3b;
  --font-text: "Poppins", sans-serif;
  --font-fancy-heading: "Playfair Display", serif;
  --second-color: #ffe8eb;
}
body {
  font-family: var(--font-text);
}
h1 {
  font-family: var(--font-fancy-heading);
  font-size: 66px;
  line-height: 1.5;
}
h2 {
  font-size: 36px;
  line-height: 1.5;
}
h3 {
  font-size: 25px;
  line-height: 1.5;
}
p {
  line-height: 30px;
}
.hero {
  background-color: var(--second-color);
  text-align: center;
  padding: 160px 20px;
}
.btn:hover {
  color: var(--primary-color);
  background-color: #fff;
}
.title {
  font-size: 36px;
}
.project-descr {
  padding: 0 30px;
}
.outline {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}
.outline:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.content-container {
  padding: 160px 20px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--font-text);
  font-weight: bold;
}
.content-section {
  margin: 30px;
}
content-section h3 {
  font-size: 24px;
  line-height: 1.5;
}
@media (max-width: 900px) {
  h1 {
    font-size: 56px;
  }
}
h2 {
  font-size: 26px;
}
.hero {
  padding: 60px 50px;
}
.content-container {
  padding: 60px 60px;
}
.content-section {
  text-align: center;
  padding: 0;
}
