/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
}
h2 {
  margin-top: 170px;
}
